/*--footer*/
/* .footer{
    background-color: #351f15;
    max-width: 100vw;
    margin-top: 31px;
    
  } */

  .footer{
    background-color: #351f15;
    overflow: hidden;
    position: fixed;
    bottom: 0;
    width: 100%;
    margin-top: 60px;
  }
  
  .form-control{
    border-right: none;
  }
  .send-text{
  background-color: transparent;
  margin-top: 0 !important;
height: 35px;
  }
  .send-text.active{
    background-color: transparent;
    font-size: smaller;
    color: white;
  
  }
  
  .footer-page-links ul li,.social-media ul li{
    list-style: none;
    display: inline-block;
    font-size: smaller;
  }
  
  
  .footer-page-links ul li a,.social-media ul li a{
    color: white;
    padding: 0 10px;
    text-decoration: none;
  }
  
  .footer-page-links ul li a:hover,.social-media ul li a:hover{
    color: #8a2b06;
  }
  .input-group-append button{
    width: auto;
    
    
  }
  
  .footer-page-links{
    font-size: 15px;
  }
  
  .copyright, .copyright a{
    color: rgba(225, 255, 255, .8);
    font-size: 10px;
    text-decoration: none;
    
  }

  /* @media screen and (max-width: 769px) {
    .footer{
      position: relative;
      top: 0px;
      bottom: 0;
      width: 100%;
    }
    
  } */