
.navbar{
  color: white;
  background-color: #8a2b06;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  padding: 0 !important;
  /* height: 80px; */
  
}
.navbar-brand{
  font-family: 'Kaushan Script', cursive;
  font-size: 2rem;
  font-weight: bold;
  font-style: italic; 
  padding-left: 20px; 
}

.nav-link{
  font-size: medium;
  color: whitesmoke;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-weight: 600;
  margin: 0px 10px;
}

.bg-brown{
  background-color: #4d1601;
  border-radius: 20px;
}

@media screen and (max-width: 769px) {
  .bg-brown{
    margin-left: 3px;
    width: 175px;
  }
}

.container {
  margin: 0px;
}

.navbarContainer{
  max-width: 100% !important;
  padding: 0px 50px;
}
.navbar-dark .navbar-toggler-icon{
  background-image: url(../Images/toggle.png);
}


@media(max-width:768px){
  .navbar-brand{
    font-size: 1.5rem;
   
  }
      
    }