.main-img {
    width: 100%;
    height: 30.9rem;
    z-index: 0;
    overflow-x: hidden;
  }

  .home{
    
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }
  .main-img img {
    width: 120%;
    height:80%;
    object-fit: cover;
    transform: rotateZ(-5deg) translateY(-5rem) translateX(-1rem);
  }

  .summary {
    text-align: center;
    max-width: 40rem;
    width: 90%;
    height: max-content;
    margin: auto;
    margin-top: -22.7rem;
    position: relative;
    background-color: #3f2f2f;
    color: white;
    border-radius: 14px;
    padding: 1.5rem;
    box-shadow: 0 1px 18px 10px rgba(0, 0, 0, 0.25);
    background-image: url("../Images/back.jfif");
    background-size: cover;
    
  }
  
  .summary h1 {
    font-family: 'Kaushan Script', cursive;
    font-weight: bold;
    font-style: italic;  
    font-size: 3rem;
    margin-top: 0;
  }
  

  .actions button {
    font: inherit;
    cursor: pointer;
    background-color: #8a2b06;
    border: 1px solid #8a2b06;
    padding: 0.5rem 2rem;
    border-radius: 25px;
    margin-left: 1rem;
    border-color: white;
    color: white;
    background: transparent;
  }
  
  .actions button:hover,
  .actions button:active {
    background-color: #190802;
    border-color: white;
    color: white;
  }
  
  .actions .button--alt {
    color: #8a2b06;
  }
  
  .actions .button {
    background-color: #8a2b06;
    color: white;
  }
  @media(max-width:768px){
    .main-img {
      height: 100%;
    }
      .summary {
        width: 70%;
        height: 200%;
        margin-top: -15.7rem;
        
      }

      .footer{
        margin-top: 151px;
        
      }
      
     
  
}
  
  